@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* The global styling */
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  /* colors */
  --primary-color: #85619D;
  --primary-color-hover: #ad48f0;
}
.heading{
  color: var(--primary-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}
.heading::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: .6rem;
  border-radius: .6rem;
  background: var(--primary-color);
}
.heading-text{
  font-size: 1.4rem;
}
hr{
  margin: 2rem 0;
}
.btn{
  font-size: 1.8rem;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 0 1rem 0 1rem;
  cursor: pointer;
  transition: all .3s ease;
}
.btn:hover{
  background: var(--primary-color-hover);
}
/* The navigation-bar */
.navigation-bar{
  position: fixed;
  background: var(--primary-color);
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2%;
}
.navigation-bar .logo{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navigation-bar nav{
  color: #fff;
  display: flex;
  gap: 2rem;
}
.navigation-bar nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: .2rem;
}
/* The styling of the home page */
.home{
  margin: 8rem 4% 4rem 4%;
}
.topic .mini-topic{
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 0;
}
.topic .topic-box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1fr));
  gap: 4rem;
}
.topic .topic-box-container .topic-box{
  border: .1rem solid var(--primary-color);
  border-radius: 0 1rem 0 1rem;
  box-shadow: .5rem .5rem .8rem .4rem rgba(133, 97, 157, .5);
}
.topic .topic-box-container .topic-box .topic-name{
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
  padding: .8rem 2rem;
  border-radius: 0 1rem 0 1rem;
}
.topic .topic-box-container .topic-box .topic-content{
  font-size: 1.4rem;
  margin: 2rem;
}
.topic .topic-box-container .topic-box .topic-image{
  height: 18rem;
  margin: 2rem;
}
.topic .topic-box-container .topic-box .topic-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.started .signup-login-request-container{
  font-size: 1.4rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* The sign up or the create account page */
.sign-up{
  border: .1rem solid var(--primary-color);
  width: 50%;
  margin: 1.5rem auto;
  border-radius: 0 4rem 0 4rem;
  padding: 2.5rem 3.5rem;
}
.sign-up .signup-title{
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
  text-align: center;
  color: var(--primary-color);
  border-bottom: .2rem solid #c1bfbf;
}
.sign-up .input-box{
  width: 100%;
  height: 4.5rem;
  margin: 2.5rem 0;
  position: relative;
}
.sign-up .input-box label{
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  transition: all .3s ease;
}
.sign-up .input-box input{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 1.5rem 0 1.5rem;
  outline: none;
  border: .1rem solid #c1bfbf;
  padding: 1.8rem 1rem;
  font-size: 1.6rem;
}
.sign-up .input-box span{
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1.5rem 2rem;
  display: none;
}
.sign-up .input-box input:focus ~ label,
.sign-up .input-box input:valid ~ label{
  transform: translateY(-3.6rem);
  padding: .2rem 1rem;
  background: #fff;
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 600;
}
.sign-up .input-box input:focus{
  border: .2rem solid var(--primary-color);
}
.sign-up .input-box:last-child{
  position: initial;
  height: auto;
}
.sign-up .input-box input[type="submit"]{
  position: initial;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
}
/* The footer section */
footer{
  background: #DFDFDF;
  padding: 4rem 4% 2rem 4%;
  font-size: 1.4rem;
  background: #DFDFDF;
  font-size: 1.4rem;
}
footer .link-box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr));
  gap: 2rem;
}
footer .link-box .link-title{
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
}
footer .link-box a, p{
  text-decoration: none;
  margin: 2rem 0;
  font-size: 1.3rem;
  display: block;
  color: #000;
  transition: all .3s ease;
}
footer .link-box a:hover{
  color: var(--primary-color);
}
footer .link-box input{
  background: none;
  margin: 0 0 2rem 0;
  padding: 1rem 1rem;
  width: 100%;
  border-radius: 0 1rem 0 1rem;
  outline: none;
  border: .1rem solid #c1bfbf;
}
footer .link-box button{
  border: none;
  outline: none;
  width: 100%;
}
footer .copyright-text{
  text-align: center;
}