@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* The global styling */
html{
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
:root{
  /* colors */
  --primary-color: #85619D;
  --primary-color-hover: #ad48f0;
}
.email-text{
  font-size: 1.5rem;
}
.email-code{
  font-size: 2rem;
  font-weight: 600;
}
.email-link{
  color: #ad48f0;
  font-size: 1.7rem;
  font-weight: 500;
  padding: .4rem;
}